.section-title {
  background-color: #7bd400;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 9px 12px;
}

.section-title h3 {
  color: white;
  margin-bottom: 0.28%;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.section-title img {
  width: 30px;
}

.section-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-title-color-1 {
  background-color: #7bd400;
}

.section-title-color-2 {
  background-color: #e41e13;
}

.section-title-color-3 {
  background-color: #f40f97;
}

.section-title-color-4 {
  background-color: #00c1f6;
}
