h4 {
  margin-bottom: 0.28%;
  font-family: Open Sans;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
}

.top-news-container {
  padding: 9px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
