/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: 0 10px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

h3 {
  color: #999999;
  margin-bottom: 0.28%;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}

.mini-info {
  color: #cccccc;
}

span {
  color: #7bd400;
}

img {
  width: 100%;
}

h2 {
  margin-bottom: 0.28%;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

p {
  margin-bottom: 0.28%;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }

  p {
    display: none;
  }

  body {
    margin: 0 140px;
  }
}

.item {
  border-radius: 10px;
}
