.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
  gap: 20px;
}

.news-1 {
  min-height: 50vh;
}

.news-2 {
  min-height: 25vh;
}

.news-3 {
  min-height: 10vh;
}

.news-4 {
  min-height: 5vh;
}

.item .info-container {
  padding: 9px 12px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-2 {
    grid-column-end: span 2;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .col-3 {
    grid-column-end: span 3;
  }

  .col-4 {
    grid-column-end: span 4;
  }
  // .first {
  //   order: 1;
  //   background-color: #cf06;
  // }
}

.row-1 {
  grid-row-end: span 1;
}

.row-2 {
  grid-row-end: span 2;
}

.row-3 {
  grid-row-end: span 3;
}
